<footer class="footer" data-background-color="black">
    <div class=" container ">
      <nav>
        <ul>
          <li>
            <a href="http://presentation.creative-tim.com">
              Termini di servizio
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Privacy policy
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
        &copy;
        <script>
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>, A braccetto con la Storia
        <div>
          Basato su un lavoro di
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
        </div>
      </div>
    </div>
</footer>